{% extends 'app/base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
<div class="item">
  {% if user and not user.is_anonymous %}
    <span class="hello-user">Привет, {{ user.get_full_name|default:user.username }}!<a href="/logout/">Выйти</a></span>
    <div class="friends-list">
      <!-- <a href="#" id="post-it" data-token="{{token}}">Пост</a> -->
      <form method="POST" id="friends-list" action="javascript:void(null);" onsubmit="wall_post('{{token}}')">
      {% for usr in user_friends %}
        <label for="id{{usr.user_id}}">
          <div class="item">
            <input type="checkbox" class="checkbox" value="{{usr.user_id}}" id="id{{usr.user_id}}" name="post_for[]">
            <label for="id{{usr.user_id}}"></label>
            <img src="{{usr.photo_50}}" alt="">
            <div class="name">
              {{usr.first_name}} {{usr.last_name}}
            </div>
          </div>
        </label>
      {% endfor %}
      <button>Отправить на стену</button>
    </form>
    </div>
  {% else %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.text }}</p>
    <div class="social-block">
        <div class="title">Войдите, используя аккаунт социальных сетей:</div>
        <a class="btn-social btn-social-fb" href="{% url 'social:begin' 'facebook' %}" title="Facebook">
            <i class="icon-facebook"></i>
            Facebook
        </a>
        <a class="btn-social btn-social-vk" href="{% url 'social:begin' 'vk-oauth2' %}" title="ВКонтакте">
            <i class="icon-vkontakte"></i>
            ВКонтакте
        </a>
        <a class="btn-social btn-social-ok" href="{% url 'social:begin' 'odnoklassniki-oauth2' %}" title="Odnoklassniki">
            <i class="icon-odnoklassniki"></i>
            Odnoklassniki
        </a>
    </div>
  {% endif %}
</div>
{% endblock %}