html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    font: 13px/18px "Roboto", Arial;
    line-height:1;
    background: #eee;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* Standart */
h1,
h2,
h3 {
    font-size: 25px;
    color: #000;
    margin: 0 0 10px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 17px;
}
p {
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

/* header */
header {
    text-align: center;
    background: #000;
    padding: 20px 0;
    box-shadow: 1px 10px 16px 1px rgba(0, 0, 0, 0.09);
}
header .logo {
    display: inline-block;
    font-family: "Lobster";
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    transition: .3s;
}
header .logo:hover {
    transition: .3s;
    color: #32a56d;
}

/* Main */
.wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 960px;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.06);
    background: #fff;
}
.hello-user {
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 0 0 20px;
}

.friends-list .item {
    border-bottom: 1px solid #e3e3e3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0;
    overflow: hidden;
}
.friends-list .item:hover {
    background: #f6f6f6;
    cursor: pointer;
}
.friends-list .item img {
    float: left;
    margin: 0 20px 0 10px;
}
.friends-list .item .name {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    font-weight: 500;
}

/* Social auth */
.social-block {
    margin: 20px 0 0;
    text-align: center;
}
.social-block .title {
    font-size: 18px;
    color: #333;
    margin: 0 0 10px;
}
.btn-social {
    margin-bottom: 10px;
    font-size: 16px;
    position: relative;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: .9;
    border-radius: 3px;
    text-align: center;
    padding: 13px 19px 13px 11px;
}
.btn-social:hover {
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
}
.btn-social.btn-social-fb {
    background: #3b5998;
}
.btn-social.btn-social-vk {
    background: #5B7FA6;
}
.btn-social.btn-social-ok {
    background: #ee8208;
}

.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px
}
.checkbox + label {
    cursor: pointer
}
.checkbox:not(checked) {
    position: absolute;
    opacity: 0
}
.checkbox:not(checked) + label {
    position: relative;
    float: left;
    height: 50px;
    display: block;
    line-height: 50px;
    padding: 0px 0 0 65px;
}
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    margin-top: -13px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2)
}
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    transition: all .2s
}
.checkbox:checked + label:before {
    background: #32a56d;
}
.checkbox:checked + label:after {
    left: 26px
}