html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    font: 13px/18px "Roboto", Arial;
    line-height:1;
    background: #333;
/*    background: #eee;*/
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* Standart */
h1,
h2,
h3 {
    font-size: 28px;
    color: #000;
    margin: 0 0 15px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 17px;
}
p {
    font-size: 15px;
    line-height: 22px;
    color: #515151;
    text-align: center;
    font-weight: 400;
}

/* header */
header {
    text-align: center;
    background: #000;
    padding: 20px 0;
    box-shadow: 1px 10px 16px 1px rgba(0, 0, 0, 0.09);
}
header .logo {
    display: inline-block;
    font-family: "Lobster";
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    transition: .3s;
}
header .logo:hover {
    transition: .3s;
    color: #32a56d;
}

/* Main */
.wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 40px auto;
/*    width: 86%;
    padding: 0 7%;*/
    width: 960px;
    overflow: hidden;
}
.wrapper .wrapper-promo {
    box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    text-align: center;
}
.wrapper .wrapper-promo .inner {
    padding: 50px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper .wrapper-promo .company-info {
    background: #f6f6f6;
    padding: 30px;
    overflow: hidden;
    position: relative;
}
.wrapper .wrapper-promo .company-info .logo {
    float: left;
    max-width: 140px;
    height: auto;
}
.wrapper .wrapper-promo .company-info .info {
text-align: right;
    position: absolute;
    height: 100%;
    top: 0;
    right: 30px;
}
.wrapper .wrapper-promo .company-info .info span {
    display: block;
    margin: 7px 0;
    width: 100%;
    color: #000;
    font-weight: 400;
    font-size: 16px;
}
.wrapper .wrapper-promo .company-info .info span a {
    color: #466bba;
}
.wrapper .wrapper-promo .company-info .info span a:hover {
    text-decoration: none;
}
.wrapper .wrapper-promo .company-info .info .dummy-child { 
    height: 100%;
}
.wrapper .wrapper-promo .company-info .info .dummy-child, 
.wrapper .wrapper-promo .company-info .info .valign {
    display: inline-block;
    vertical-align: middle;
}

.hello-user {
    font-size: 30px;
    display: block;
    text-align: center;
    font-weight: 300;
    padding: 30px 0;
    background: rgba(227, 227, 227, 0.34);
}
#friends-list .buttons {
    background: rgba(227, 227, 227, 0.34);
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: hidden;
}
#friends-list .buttons .btn {
    display: inline-block;
    font-weight: 300;
    height: 42px;
    border-radius: 30px;
    line-height: 42px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* float: left; */
}
#friends-list .buttons .btn:hover {
    cursor: pointer;
}
#friends-list .buttons button {
    background: #0d63b2;
    width: 24%;
    color: #fff;
    font-size: 18px;
    font-weight: 400 !important;
    text-transform: uppercase;
    border: none;
    font-family: "Roboto";
    transition: .2s;
}
#friends-list .buttons button:hover {
    cursor: pointer;
    transition:.2s;
    background: #074e8f;
}
#friends-list .buttons button.nactive,
#friends-list .buttons button.nactive:hover {
    cursor: not-allowed;
    opacity: .4;
}
#friends-list .buttons .check-all {
    background: #EF5350;
    width: 23%;
    color: #0d63b2;
    font-size: 18px;
    font-weight: 400;
    margin-right: 0%;
    text-decoration: underline;
    border: none;
    font-family: "Roboto";
    transition: .2s;
    background: none !important
}
#friends-list .buttons .check-all:hover {
    text-decoration: none;
}
.friends-list {
    overflow: hidden;
    overflow-y: auto;
    height: 550px;
}
.friends-list .item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 10px;
    overflow: hidden;
    width: 23%;
    margin: 1%;
    position: relative;
    float: left;
    border-radius: 20px;
    text-align: center;
}
.friends-list .item:hover {
    cursor: pointer;
}
.friends-list .item img {
    border-radius: 100px;
    margin: 0 0 3px;
    border:6px solid #fff;
    display: inline-block;
    transition:.2s;
}
.friends-list .item:hover img {
    border-color: rgba(244, 67, 54, 0.5);
}
.friends-list .active .item img {
    border-color: #0d63b2;
    transition:.2s;
}
.friends-list .item .name {
    font-size: 15px;
}

.promo_code {
    font-size: 25px;
    font-weight: 300;
    color: #000000;
    margin: 0px 0 0px;
    padding-top: 20px;
}
.promo_code span {
    font-weight: 500;
}

/* Social auth */
.social-block {
    margin: 10px 0 0;
    background: rgba(227, 227, 227, 0.34);
    padding: 25px 20px 35px 20px;
    text-align: center;
}
.social-block .title {
    font-size: 28px;
    color: #000000;
    font-weight: 300;
    width: 100%;
    float: left;
    margin: 13px 0 19px;
}
.btn-social {
    margin: 0 3px 10px;
    font-size: 16px;
    position: relative;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    opacity: .85;
    border-radius: 3px;
    text-align: center;
    padding: 13px 19px 13px 11px;
}
.btn-social:hover {
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
}
.btn-social.btn-social-fb {
    background: #3b5998;
}
.btn-social.btn-social-vk {
    background: #5E81A8;
}
.btn-social.btn-social-ok {
    background: #ee8208;
}
.btn-social.btn-social-tw {
    background: #00aced;
}
.btn-social.btn-social-ig {
    background: radial-gradient(circle at -11% 100%, #FED373 4%, #F15245 23%, #D92E7F 51%, #9B36B7 73%, #515ECF);
}

.checkbox {
    display: none;
}
footer {
    font-weight: 400;
    color: #808080;
    font-size: 13px;
    padding: 20px 0 0;
    text-align: center;
}